{% extends "layout.html" %}
{% block body %}

<style>
    /* The !important flag forces the browser to prioritize this rule over Bootstrap */
    figure.image, 
    figure.image img,
    img {
        max-width: 100% !important;
        height: auto !important;
    }
    
    figure.image {
        margin: 30px auto !important;
        display: block !important;
        text-align: center !important;
    }
</style>

<!-- Page Header-->
<header class="masthead hv-masthead-post"
    style="background-image: url('{{ url_for("static", filename="assets/img/" + post.image) if post.image else url_for("static", filename="assets/img/home-bg.png") }}')">
    <div class="container position-relative px-4 px-lg-5 hv-hero-container">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="post-heading hv-post-heading text-center">
                    <h1 class="hv-post-title" style="color: whitesmoke !important">{{post.title}}</h1>
                    <h2 class="subheading hv-post-subtitle" style="color: whitesmoke !important">{{post.sub_title}}</h2>
                    <span class="meta hv-post-meta">
                        Posted by
                        <a href="#!" class="hv-meta-author">{{post.author}}</a>
                        on {{post.updated_at.strftime('%B %d, %Y')}}
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Post Content Grid Layout -->
<article class="mb-4 hv-article-section">
    <div class="container px-4 px-lg-5 hv-post-grid-container">
        <div class="row gx-4 gx-lg-5 hv-post-grid-row">

            <!-- Left Sidebar Column: Sticky Author Profile & Share links -->
            <div class="col-lg-3 d-none d-lg-block hv-post-left-sidebar">
                <div class="hv-sticky-share-bar text-center">
                    <h5 class="hv-author-name">{{post.author}}</h5>
                    <p class="hv-author-desc mb-4">Space explorer & Tech enthusiast.</p>


                    <div class="hv-share-icons-stack">
                        <a href="{{params['fb_url']}}" class="hv-share-icon-circle"><i class="fab fa-facebook-f"></i></a>
                        <a href="{{params['github_url']}}" class="hv-share-icon-circle"><i class="fab fa-github"></i></a>
                    </div>
                </div>
            </div>

            <!-- Main Content Center Column -->
            <div class="col-lg-9 hv-article-main-card">
                <div class="hv-article-card-body">
                    {{post.content | safe}}
                </div>
            </div>

        </div>
    </div>
</article>

{% endblock %}